

  
  <div class="row">
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object img-rounded" style="width: 45px;height: 45px;" src="/img/me (2).jpg" alt="Image">
        </a>
        <div class="media-body">
          <h4 class="media-heading">逻辑先生</h4>
          <p>住手，这个世界需要和平</p>
        </div>
      </div>
      
    </div>
    
  </div>
  
  <div class="row">
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <span style="color:#8590a6;padding-top: 20px">本篇文章有100条评论</span>
    </div>
    
  </div>
  
  <div id="info">
    <p>asdasdasdsadasdadsad</p>
    <p>asdasdasdsadasdadsad</p>
    <p>asdasdasdsadasdadsad</p>
    <p>asdasdasdsadasdadsad</p>
    <p>asdasdasdsadasdadsad</p>
    <p>asdasdasdsadasdadsad</p>
    <p>asdasdasdsadasdadsad</p>
  </div>
    

  



  

  
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <button type="button" class="btn btn-success">
        <div class="fa fa-thumbs-up"></div>
        赞同0
      </button>
    </div>
    
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      
      <input type="text" name="commit" id="inputcommit" class="form-control" required="required" placeholder="写下你的评论....." >
    </div>
    
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <button type="button" class="btn btn-primary">
        <div class="fa fa-send"></div>
        评论
      </button>
    </div>
    
    
  </div>
  
  <div class="commit">
    
  </div>
  
  
  
  
  
