
<div class="container">
  
  <div class="row">
    
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object img-rounded" style="width: 45px;height: 45px;" src="/img/me (2).jpg" alt="Image">
        </a>
        <div class="media-body">
          <h4 class="media-heading">逻辑先生</h4>
          <p>住手，这个世界需要和平</p>
        </div>
      </div>
      
    </div>
    
  </div>
  
  <div class="row">
    
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <span style="color:#8590a6;padding-top: 20px">本篇文章有100条评论</span>
    </div>
    
  </div>
  
  <div id="info" class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
    <p>三倍界王拳的孙悟空其实就已经吊打贝吉塔了，要知道三倍界王拳的孙悟空战斗力就2.4万，要不是为了保护地球非要跟贝吉塔对波，干掉贝吉塔轻轻松松。</p>
    <p>3.2万战斗力什么概念？贝吉塔濒死复活两次以后才3万，虽然能对付萨波和多多利亚，但是被不到6万战斗力的利库姆吊锤。</p>
    <p>在地球上，如果不是贝吉塔靠着变巨猿扳回场子，估计这货早就被留下来了。</p>
  </div>
  
</div>
