{{ extend './_layout/home.html' }}
{{ block 'nickname' }}{{ userinfo.nickname }}{{ /block }}
{{ block 'photo' }}<img id="userimg" src="{{ userinfo.photo }}" class="me img-circle">{{ /block }}
{{ block content }}
<!-- 中心开始 -->
<section class="center">
  <div class="container">
    <div class="left col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <!-- 此处为中心页面，load异步加载 -->
    </div>
      
    <div class="right hidden-xs hidden-sm col-md-4 col-lg-4">
      <div class="title">组队聊天室</div>
      <div class="group-user ">
        <div class="group-user-inner clearfix">
        <!-- 此处的users是js控制的 -->
        </div>
      </div>
      <div id="chatbox" class="content">
        <div id="chatbox-inner">
          <div class="m-message clearfix">
            <span>18:21</span>
            <span>小兵旭旭</span>
            <img src="/img/me.png" alt="">
            <p >我是内容，你现在在干嘛，我打算弄个宽度，然后换行什么的</p>
          </div>
        </div>
      </div>
      <div class="input-submit">
        <div class="input-group">
          <input type="text" class="sendmsg form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="sendmsg-btn btn btn-default" type="button">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div>
    </div>
  </div>
</section>

<script src="/js/chat.js"></script>
{{ /block }}