{{ extend './_layout/home.html' }}
{{ block content }}
<!-- 中心开始 -->

  <div class="container">
    <div class="left col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <!-- 此处为中心页面，load异步加载 -->
    </div>
      
    <div class="right hidden-xs hidden-sm col-md-4 col-lg-4">
      <div class="title">组队聊天室</div>
      <div class="group-user ">
        <div class="group-user-inner clearfix">
        <!-- 此处的users是js控制的 -->
        </div>
      </div>
      <div id="chatbox" class="content">
        <div id="chatbox-inner">
          <!-- 此处加载聊天内容 -->
        </div>
      </div>
      <div class="input-submit">
        <div class="input-group">
          {{  if loginStatus }}
          <input type="text" class="sendmsg form-control" placeholder="说你想说的....."">
          <span class="input-group-btn">
            <button class="sendmsg-btn btn btn-default" type="button">发送</button>
          </span>
          {{ else }}
          <input type="text" disabled class="sendmsg form-control" placeholder="不登陆怎么发消息呢..."">
          <span class="input-group-btn">
            <a href="/login" class="btn btn-default" type="button">登陆</a>
          </span>
          {{ /if }}
        </div><!-- /input-group -->
      </div>
    </div>
  </div>


<script src="/js/chat.js"></script>
{{ /block }}