{{ extend './_layout/home.html' }} {{ block 'title' }}登录AnonyDis{{ /block }} {{ block content }}
<link rel="stylesheet" href="/css/login.css" type="text/css" />
<section style="background:url('/img/loginbg.jpg');height: 100%;width: 100%;position: fixed;top: 0;padding-top:150px;" id="content"
  class="m-t-lg wrapper-md animated fadeInUp ">
  <div class="container aside-xl" style="margin-top: 48px;">
    <a class="navbar-brand block"><span class="h1 font-bold" style="color: #ffffff">AnonyDis</span></a>
    <section class="m-b-lg">
      <header class="wrapper text-center">
        <strong class="text-sucess">畅所欲言要从登录开始</strong>
      </header>
      <form id="form2" action="javascript:;">
        <div class="form-group">
          <input type="username" name="username" placeholder="用户名" class="form-control  input-lg text-center no-border">
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="密码" class="form-control  input-lg text-center no-border">
        </div>
        
        <div style="display:none;" class="alert alert-danger ">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>提示</strong>
        </div>
        
        <button onclick="login1()" class="btn btn-lg btn-danger lt b-white b-2x btn-block">登录</button>
      </form>
    </section>
  </div>
</section>
<script>

/* 登录 */
$('.form-control').focus(function (e) { 
  e.preventDefault();
  $('.alert').hide()
});
function login1() {
  $.ajax({
    type: "POST",
    url: "/login",
    data: new FormData(document.getElementById('form2')),
    processData: false,
    contentType: false,
    success: function (response) {
      if (response.code === 0) {
        $('.alert').show().val(response.message);
        window.location.href = '/'
      }
      console.log(response)
      $('.alert').show()
      document.getElementsByClassName('alert')[0].innerHTML = response.message
    }
  });
}  
</script>
</body>
</html>
{{ /block }}